@font-face {
    font-family: 'Work Sans';
    src: url(https://fonts.google.com/specimen/Work+Sans;)
}

/* 
 White: hsl(0, 0%, 100%)
 Light pink: hsl(275, 100%, 97%)
 Grayish purple: hsl(292, 16%, 49%)
 Dark purple: hsl(292, 42%, 14%)*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}    

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Work Sans';
    font-size: 16px;
    color: hsl(228, 45%, 44%); 
    text-align: center;
}


main {
    height: 320px;
   border: 20px solid black;
   position: absolute;
}

section {
    background-image: url('../assets/images/icon-star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: 1px solid  none;
    margin: auto;
    text-align: left;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
  
    
    
}
